@{
    ViewBag.Title = "Home Page";
}
<br/>
<div >
    <h2 style="text-align: center;font-size: 30px;color: white"><b>University Course and Result Management System </b></h2>
     

    <img src="~/images/11.gif" />

    <img src="~/images/colorfwky.gif" />
    <img src="~/images/fa.gif" />
    <img src="~/images/n1.gif" />
    <img src="~/images/fireworks5.gif" />

</div>

